.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    overflow: visible !important;
    top: 0;
    left: 50%;
}


.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
    position: absolute;
    z-index: 1050 !important;

}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.btn-index {
    background-color: #002E86; /* Azul del texto */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    padding: 15px 30px; /* Aumenta el relleno interno del botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

.btn-index:hover {
    background-color: #0056b3; /* Azul más claro al pasar el cursor */
    transform: scale(1.05); /* Efecto de agrandamiento */
    color: #fff; /* Mantener el texto blanco */
}

.logo-responsive {
    height: 120px; /* Tamaño predeterminado */
    width: 120px; /* Tamaño predeterminado */
}


.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-brand{
    padding: 20px;
    margin-right: 100px;
}
.navbar-grey {
    background-color: #dcdada; /* Gris más oscuro */
}

.navbar-grey .nav-link {
    color: #000; /* Color del texto */
}

.navbar-grey .nav-link:hover {
    color: #555; /* Color del texto al pasar el cursor */
}
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Hace el texto más llamativo */
    color: #002E86; /* Cambia el color del texto a un azul llamativo */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    transition: color 0.3s ease; /* Añade una transición suave al color */
}

.navbar-nav .nav-link:hover {
    color: #0056b3; /* Cambia el color al pasar el cursor */
    text-decoration: underline; /* Añade un subrayado al pasar el cursor */
}


.bg-gray {
    background-color: #dcdada; /* Gris medio */
}

.accordion{
    padding: 40px;
}

.text-blue {
    color: #002E86;
}

.titulo {
    font-size: 3rem; /* Aumenta el tamaño */
    font-weight: bold; /* Negrita */
    color: #002E86; /* Azul oscuro */
    text-align: center; /* Centrar */
    padding: 20px; /* Espaciado */
}

.btn-custom:hover {
    background-color: darkorange ; 
    border-color: darkorange ;
    color: white;
}
.card {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    text-align: center; /* Centrar contenido */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002E86;
}

.card-subtitle {
    font-size: 1rem;
    color: #555;
}

.btn-custom {
    background-color: white;
    color: darkorange;
    border: 2px solid darkorange; /* Agregado borde azul */
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-custom:hover {
    background-color: darkorange;
    color: white;
    transform: scale(1.1);
}

.benefits-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.benefits-list li {
    font-size: 1rem;
    color: #444;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-list li i {
    color: #002E86;
    margin-right: 10px;
    font-size: 1.2rem;
}

.custom-border {
    border: 2px solid lightgray; /* Ajusta el grosor del borde según sea necesario */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5); /* Sombra naranja */
}

.badge-custom {
    transform: rotate(-45deg) translate(-30%, -30%);
    top: 0;
    left: 0;
    background-color: darkorange;
}
.seguro-item img {
    width: 150px; /* Ajustá según el tamaño deseado */
    height: 150px;
    object-fit: cover;
    border: 3px solid #007bff; /* Color del borde */
    padding: 5px;
}

.seguro-item p {
    font-size: 1.1rem;
    font-weight: bold;
}


.list-inline-item a:hover {
    color: #007bff;
}

#nosotros .card {
    background-color: #f8f9fa; /* Fondo suave */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5); /* Sombra naranja */

}
#nosotros h2 {
    color: #0056b3; /* Color destacado */
}

#seguro-hogar .card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
#seguro-hogar .card:hover {
    transform: scale(1.05);
}

#seguro-hogar .shadow-sm {
    transition: transform 0.2s ease-in-out;
}
#seguro-hogar .shadow-sm:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.custom-accordion{
    width: 80%;
}

.shadow-orange {
    box-shadow: 0 8px 30px rgba(255, 165, 0, 0.5); /* Sombra naranja */
}

.shadow-orange:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(255, 165, 0, 0.5);
}

.seguro-hover {
    transition: transform 0.3s ease-in-out;
}

.seguro-hover:hover {
    transform: scale(1.1);
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.seguro-salud {
    padding: 50px 0;
    background: #f8f9fa;
    text-align: center;
}

.card-salud {
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-salud h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 15px;
}

.card-salud p {
    font-size: 16px;
    margin-bottom: 10px;
}

.beneficios p {
    font-weight: bold;
}

.footer-logo {
    width: 60px;
    height: 50px;
    margin: 5px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px; /* Ajusta el tamaño según prefieras */
    z-index: 1000; /* Para que esté por encima de otros elementos */
}

.whatsapp-float img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover img {
    transform: scale(1.1); /* Efecto de agrandado al pasar el mouse */
}

.seguro-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seguro-item img {
    width: 80px; /* Ajusta el tamaño de los círculos */
    height: 80px;
    object-fit: cover;
    border: 3px solid #007bff; /* Borde opcional */
}

.seguro-item p {
    margin-top: 8px; /* Ajuste para alinear el texto debajo */
    font-size: 14px; /* Tamaño de fuente para móviles */
}
.responsive-image {
    width: 100%; /* Por defecto, ocupa el ancho completo */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Recorta la imagen para ajustarse al contenedor */
}

/* Estilo por defecto */
.responsive-heading {
    font-size: 2rem; /* Tamaño normal */
}

.responsive-paragraph {
    font-size: 1rem; /* Tamaño normal */
}

.seguro-item img {
    width: 150px; /* Tamaño mayor en pantallas grandes */
    height: 150px;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .responsive-heading {
        font-size: 1.5rem; /* Reduce el tamaño del encabezado */
    }

    .responsive-paragraph {
        font-size: 0.875rem; /* Reduce el tamaño del párrafo */
    }

    .logo-responsive {
        height: 90px; /* Tamaño para dispositivos móviles */
        width: 90px; /* Tamaño para dispositivos móviles */
    } 

    .responsive-image {
        width: 300px; /* Reduce el tamaño de la imagen */
        height: 300px; /* Hace que la imagen sea cuadrada */
        object-fit: cover; /* Recorta la imagen para que sea cuadrada */
        border-radius: 10px; /* Mantiene los bordes redondeados */
    }
    

    .dropdown-submenu .dropdown-menu {
        left: auto;
        right: 40%;
    }

    footer .row {
        display: flex;
        flex-direction: column; /* Apila los elementos */
        align-items: center; /* Centra los elementos */
        text-align: center; /* Asegura que el texto también esté centrado */
    }

    footer .col-12, 
    footer .col-md-4 {
        width: 100%; /* Ocupa todo el ancho */
        text-align: center; /* Asegura que el texto también esté centrado */
        align-items: center; /* Centra los elementos */
        flex-direction: column; /* Apila los elementos */

    }

    .accordion {
        padding:0px;
     }

     .seguro-item img {
        width: 100px; /* Tamaño mayor en pantallas grandes */
        height: 100px;
    }
}



@media (max-width: 576px) {  /* Ajustes para celulares */
    .footer-logo {
        width: 50px;
        height: 45px;
    }
    
    .dropdown-submenu .dropdown-menu {
        left: auto;
        right: 40%;
    }

    .seguro-item img {
        width: 100px; /* Tamaño mayor en pantallas grandes */
        height: 100px;
    }

}

