.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.btn-index {
    background-color: #002E86; /* Azul del texto */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

.btn-index:hover {
    background-color: #0056b3; /* Azul más claro al pasar el cursor */
    transform: scale(1.05); /* Efecto de agrandamiento */
    color: #fff; /* Mantener el texto blanco */
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-brand{
    padding: 20px;
    margin-right: 100px;
}

.accordion{
    padding: 40px;
}

.text-blue {
    color: #002E86;
}

.titulo {
    font-size: 3rem; /* Aumenta el tamaño */
    font-weight: bold; /* Negrita */
    color: #002E86; /* Azul oscuro */
    text-align: center; /* Centrar */
    padding: 20px; /* Espaciado */
}

.btn-custom:hover {
    background-color: darkorange ; 
    border-color: darkorange ;
    color: white;
}
.card {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    text-align: center; /* Centrar contenido */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002E86;
}

.card-subtitle {
    font-size: 1rem;
    color: #555;
}

.btn-custom {
    background-color: white;
    color: darkorange;
    border: 2px solid darkorange; /* Agregado borde azul */
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-custom:hover {
    background-color: darkorange;
    color: white;
    transform: scale(1.1);
}

.benefits-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.benefits-list li {
    font-size: 1rem;
    color: #444;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-list li i {
    color: #002E86;
    margin-right: 10px;
    font-size: 1.2rem;
}

.custom-border {
    border: 2px solid lightgray; /* Ajusta el grosor del borde según sea necesario */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5); /* Sombra naranja */
}

.badge-custom {
    transform: rotate(-45deg) translate(-30%, -30%);
    top: 0;
    left: 0;
    background-color: darkorange;
}
.seguro-item img {
    width: 150px; /* Ajustá según el tamaño deseado */
    height: 150px;
    object-fit: cover;
    border: 3px solid #007bff; /* Color del borde */
    padding: 5px;
}

.seguro-item p {
    font-size: 1.1rem;
    font-weight: bold;
}


.list-inline-item a:hover {
    color: #007bff;
}

#nosotros .card {
    background-color: #f8f9fa; /* Fondo suave */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.5); /* Sombra naranja */

}
#nosotros h2 {
    color: #0056b3; /* Color destacado */
}

#seguro-hogar .card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
#seguro-hogar .card:hover {
    transform: scale(1.05);
}

#seguro-hogar .shadow-sm {
    transition: transform 0.2s ease-in-out;
}
#seguro-hogar .shadow-sm:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.custom-accordion{
    width: 80%;
}

.shadow-orange {
    box-shadow: 0 8px 30px rgba(255, 165, 0, 0.5); /* Sombra naranja */
}

.shadow-orange:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(255, 165, 0, 0.5);
}

.seguro-hover {
    transition: transform 0.3s ease-in-out;
}

.seguro-hover:hover {
    transform: scale(1.1);
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
